.centrizr-container img {
    position: absolute;
}

.centrizr-container img.wide {
    min-height: 100% !important;
    min-width: 0 !important;
    max-width: none !important;
    max-height: 100% !important;
    top: 0;
    left: 50%;
}

.centrizr-container img.tall {
    min-height: 0 !important;
    min-width: 100% !important;
    max-width: 100% !important;
    max-height: none !important;
    top: 50%;
    left: 0;
}